<div class="row">
  <div *ngFor="let photo of photos" class="col-sm-2 img-wrapper">
    <img [ngClass]="!photo.isApproved && 'not-approved'" alt="" class="img-thumbnail p-1" src="{{photo.url}}">

    <div *ngIf="!photo.isApproved" class="text-center img-text">
      <span class="text-danger">Awaiting Approval</span>
    </div>

    <div class="text-center">
      <button (click)="setMainPhoto(photo)" [disabled]="photo.isMain || !photo.isApproved"
              [ngClass]="photo.isMain ? 'btn-success active' : 'btn-secondary'"
              class="btn btn-sm mr-1"
              type="button">Main
      </button>
      <button (click)="deletePhoto(photo.id)" [disabled]="photo.isMain"
              class="btn btn-sm btn-danger"
              type="button"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
</div>
<div class="row mt-3">

  <div class="col-md-3">

    <h3>Add Photos</h3>

    <div (fileOver)="fileOverBase($event)"
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         [uploader]="uploader"
         class="card bg-faded p-3 text-center mb-3 my-drop-zone"
         ng2FileDrop>
      <i class="fa fa-upload fa-3x"></i>
      Drop Photos Here
    </div>

    Multiple
    <input [uploader]="uploader" multiple ng2FileSelect type="file"/><br/>

    Single
    <input [uploader]="uploader" ng2FileSelect type="file"/>
  </div>

  <div *ngIf="uploader?.queue?.length" class="col-md-9" style="margin-bottom: 40px">
    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>
    <table class="table">
      <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
      </tr>
      </tbody>
    </table>
    <div>
      <div>
        Queue progress:
        <div class="progress mb-4" style="">
          <div [ngStyle]="{ 'width': uploader.progress + '%' }" class="progress-bar" role="progressbar"></div>
        </div>
      </div>
      <button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"
              class="btn btn-success btn-s" type="button">
        <span class="fa fa-upload"></span> Upload
      </button>
      <button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading"
              class="btn btn-warning btn-s" type="button">
        <span class="fa fa-ban"></span> Cancel
      </button>
      <button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length"
              class="btn btn-danger btn-s" type="button">
        <span class="fa fa-trash"></span> Remove
      </button>
    </div>
  </div>

</div>
